.main-wrapper{
    width: 100%;
    padding-top:     20px;
}
.calculator-body{
    margin: 0 auto;
    width: 600px;
    border: 2px solid black;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: bisque;
}
#input{
    width: 500px;
    height: 60px;
    margin: 25px 40px;
    font-size: 26px;
}
.buttons-container{
    margin: 0 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn{
    width: 32%;
    height: 80px;
    font-size: 26px;
    margin-bottom: 5px;
}
.clear{
    display: block;
    margin: 0 40px;
    height: 80px;
    width: 520px;
    background-color: rosybrown;
}